<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.addressMapper">
    <!-- parameterType参数类型用于有输入参数时存入数据库时设置  -->
    <!--保存已投票的网卡MAC地址-->
    <insert id="saveMac" parameterType="String" >
        insert into address(macaddress,ipaddress,cname) VALUES (#{macaddress},#{ipaddress},#{cname})
    </insert>

    <!-- 查找是否有相同的mac地址-->
    <!-- resultType参数类型用于数据库取值时时设置  -->
    <select id="smac" resultType="entity.address">
		SELECT * FROM address WHERE macaddress=#{maca}
	</select>




</mapper>