<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.professionalMapper">
    <!-- parameterType参数类型用于有输入参数时存入数据库时设置  -->
    <!--新增投票人-->
    <insert id="savePs" parameterType="String">
        insert into toupiao(uname) values (#{uname})
    </insert>

    <!--更新票数-->
    <update id="uppiaosu" parameterType="entity.employees">
    UPDATE employees SET piaoshu=#{ps} WHERE uname=#{uname}
    </update>


</mapper>